@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  font-size: 0.9375rem; /* 15px */
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.main-title {
  font-size: 1.5rem;
  line-height: 1.3;
}

.main-title .light {
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}

.main-title .bold {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.text {
  max-width: 32ch;
  margin: 0 auto 2rem;
  color: hsl(212, 6%, 44%);
  font-weight: 400;
}

.cards {
  margin-top: 2.5rem;
  display: grid;
  gap: 1.8rem;
}

.item {
  background: hsl(0, 0%, 100%);
  border-top: 5px solid var(--accent);
  border-radius: 0.5rem;
  padding: 1.8rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.one {
  --accent: hsl(180, 62%, 55%);
}

.two {
  --accent: hsl(0, 78%, 62%);
}

.three {
  --accent: hsl(34, 97%, 64%);
}

.four {
  --accent: hsl(212, 86%, 64%);
}

.item h4 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.item p {
  color: hsl(212, 6%, 44%);
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.item img {
  width: 50px;
  height: auto;
  float: right;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 4rem 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "one two four"
      "one three four"
    ;
    gap: 2rem;
  }

  .one { 
    grid-area: one;
    align-self: center;
  }

  .two { 
    grid-area: two;
  }

  .three { 
    grid-area: three;
  }

  .four { 
    grid-area: four;
    align-self: center;
  }

  .text {
    max-width: 55ch;
  }
}