@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark: hsl(234, 12%, 34%);
  --clr-grey: hsl(212, 6%, 44%);
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: var(--clr-white);
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.main-title {
  font-size: 1.5rem;
  line-height: 1.3;
}

.main-title .light {
  font-weight: 200;
  color: var(--clr-grey);
}

.main-title .bold {
  font-weight: 600;
  color: var(--clr-dark);
}

.text {
  max-width: 32ch;
  margin: 0 auto 2rem;
  color: var(--clr-grey);
  font-weight: 400;
}

.cards {
  margin-block-start: 2.5rem;
  display: grid;
  gap: 1.8rem;
}

.item {
  display: flex;
  flex-direction: column;
  background: var(--clr-white);
  border-top: 5px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1.8rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.one {
  --border-color: var(--clr-cyan);
}

.two {
  --border-color: var(--clr-red);
}

.three {
  --border-color: var(--clr-orange);
}

.four {
  --border-color: var(--clr-blue);
}

.item h2 {
  color: var(--clr-dark);
  font-weight: 600;
  margin-block-end: 0.5rem;
}

.item p {
  color: var(--clr-grey);
  font-size: 0.875rem;
  margin-block-end: 2rem;
}

.item img {
  width: 3rem;
  height: auto;
  align-self: flex-end;
}

@media (min-width: 1024px) {
  .container {
    max-width: min(90%, 75rem);
    padding: 4rem 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "one two four"
      "one three four"
    ;
    gap: 2rem;
  }

  .one { 
    grid-area: one;
    align-self: center;
  }

  .two { 
    grid-area: two;
  }

  .three { 
    grid-area: three;
  }

  .four { 
    grid-area: four;
    align-self: center;
  }

  .text {
    max-width: 55ch;
  }
}
